body {
  margin: 0;
  background-image: url("https://external-preview.redd.it/-GM8-ubhDjVOWO1B_aepppoMOOHDcRu3PjmeNqqwSVM.jpg?auto=webp&s=10ed29bac2c6dd722082936623452101e06937b0");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  /* Chalkboard, Liminari */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*background-color: palegreen;*/
}

#topbar {
  background-color: rgb(73, 46, 40);
  display: flex;
  justify-content:space-evenly;
  position: fixed;
  width: 100%;
  top: -50px;
  transition: top 0.5s;
  padding-top: 1em;
  padding-bottom: 1em;
}

#topbar a {
  color: burlywood;
}


#tobar a:visited {
  color: grey;
}

#topbar a:hover {
  color:wheat;
}

#manual {
  margin: 20px;
  padding: 20px;
  background-color: rgb(100, 50, 150);
  border: 10px solid black;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: black;
}

hr {
  height: 5px;
  background-color: black;
  border: 0;
}

.character-space {
  display: flex;
  align-items: start;
  max-height: 20vh;
  overflow: scroll;
  background-color: rgb(180, 100, 150);
  border: 5px solid black;
  padding: 10px;
}

.character-img {
  height: 20vh;
}

.character-info{
  margin-left: 20px;
}

.character-name {
  margin-top: 0;
  margin-bottom: 5px;
}


#get-characters-btn {
  background-color: rgb(81, 55, 36);
  color: burlywood;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  /* set with what we can manipulate and rate */
  transition: border-radius 1s;
}

#get-characters-btn:hover { 
  background-color: rgb(119, 78, 49);
}

#get-characters-btn:active {
  background-color: rgb(60, 36, 31);
}

#characters-interactive-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}