body {
  background-image: url("https://external-preview.redd.it/-GM8-ubhDjVOWO1B_aepppoMOOHDcRu3PjmeNqqwSVM.jpg?auto=webp&s=10ed29bac2c6dd722082936623452101e06937b0");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*background-color: palegreen;*/
}

.manual {
  margin: 20px;
  padding: 20px;
  background-color: rgb(100, 50, 150);
  border: 10px solid black;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: black;
}

hr {
  height: 5px;
  background-color: black;
  border: 0;
}

.character {
  display: flex;
  align-items: start;
  max-height: 20vh;
  overflow: scroll;
  background-color: rgb(180, 100, 150);
  border: 5px solid black;
  padding: 10px;
}

.character-img {
  height: 20vh;
}

.character-info{
  margin-left: 20px;
}

.character-name {
  margin-top: 0;
  margin-bottom: 5px;
}